.App {
  background-image: url('assets/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-container{
  margin: 20px;

}
body {
  margin: 0;
  padding: 0;
  margin-top: 0;
}


.form-div h1{
     background-color: #0047AB;
     padding: 2vh;
     color: white;
     text-align: center;
     border-radius: 20px;
}
.btnDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.autocomplete-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.info-container {
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

}
.icon{
  color: #0047AB;
}
